[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/gcmatos/python-para-geociencias/blob/master/notebooks/1.3%20Estruturas%20de%20dados%20em%20Python.ipynb)

Ctrl/Cmd + click para abrir em uma nova aba do navegador web e utilizar o Google Colab para rodar o tutorial.

# Estruturas de dados em Python

__O que iremos aprender__
- Estruturas de dados  nativas (*Built-in*)
- Estruturas de dados externas (*e.g. Numpy, Pandas, GeoPandas, Files*)

## Configuração de ambiente
Instalaçao e importação dos pacotes Python para o tutorial sobre estruturas de dados.

__Instalação de dependências__

In [ ]:
# Instalar Pyproj
!sudo apt-get install python-pyproj

In [ ]:
# Instalar GeoPandas
!pip install shapely fiona six geopandas

__Importação das bibliotecas__

In [ ]:
import numpy as np
import pandas as pd
import geopandas as gpd

from pandas import Series
from pandas import DataFrame
from geopandas import GeoSeries
from geopandas import GeoDataFrame
from array import array
from shapely.geometry import Point

In [ ]:
# Utilizar Matplotlib no notebook
%matplotlib inline
# Ajustar a precisão de valores reais
%precision 3
# Reproduzir números aleatórios
np.random.seed(1234)

## Modelo de dados
> "Objects are Python’s abstraction for data. All data in a Python program is represented by objects or by relations between objects." 

> [Modelo de dados em Python](https://python.readthedocs.io/en/latest/reference/datamodel.html)

## Estruturas nativas *Built-in*

As estruturas de dados primitivas do Python suporta diferentes tipos (classes) de variáveis, que podem ser:
- Numéricas (_Integer, Floating_)
- Lógica (_Boolean_)
- Texto (_String_)

Estruturas compostas em Python funcionam como _containers_ de dados, armazenando estruturas de dados primitivas. As estruturas que abordaremos neste *notebook* são:
- _Arrays_
- Listas
- _Tuples_
- _Sets_
- Dicionários
- Arquivos (_Files_)

### *Tuples*
Tuple é uma sequência de objetos imutável e de comprimento fixo. A forma mais simples de criar uma Tuple é declarando números seprados por vírgula, como no exemplo abaixo:

```python
In  [1]: tup = 1, 2, 3
Out [1]: (1, 2, 3) 
```

__Declarar *Tuples*__

In [ ]:
# Criar uma tuple simples
tup = 1, 2, 3
tup

In [ ]:
# Acessar valores por índice
tup[0]

In [ ]:
# Tentar alterar um valor
tup[0] = 0

In [ ]:
# Multiplicação com Tuples
tup * 2

In [ ]:
# Criar uma tuple aninhada em outra
tup_nested = (4, 5), (6, 7, 8)
tup_nested

In [ ]:
# Declarar variáveis com Tuples
a, b, c = tup
print(a, b, c)

In [ ]:
# Tentar alterar tuple
tup = tuple(['a', [1, 2], True])
tup[2] = False

In [ ]:
# Alterando objetos mutáveis aninhados em uma tuple
tup[1].append(3)
tup

__Conversão para *Tuple*__

Listas e demais objetos podem ser convertidos em Tuple através da função* built-in* `tuple()`.

In [ ]:
tuple([4, 0, 2])

In [ ]:
tup = tuple('string')
tup

__Métodos para *Tuples*__

In [ ]:
# Declarar Tuple com valores repetidos
tup = 1, 2, 2, 2, 2, 3, 4, 5
# Contar o número de vezes que ocorre um valor na Tuple
tup.count(2)

In [ ]:
# Checar o ídice de um determinado valor
tup.index(5)

### *Lists*
*[Python lists](https://docs.python.org/3.6/tutorial/datastructures.html)* são estruturas mutáveis de dados 1D que compreendem objetos de diferentes classes (números, texto, booleanos).

Listas são declaradas utilizando as seguintes sintaxes:

```python
[x, y, z, ' texto', 1, 2, 3]
```

```python
list(x, y, z, ' texto', 1, 2, 3)
```

__Declarar listas__

In [ ]:
list()

In [ ]:
# Declarar uma lista vazia
lista_vazia = []

In [ ]:
# Criar lista com quatro números na ordem de 1 à 4
minha_lista = [1, 2, 3, 4]
# Imprimir lista
print(minha_lista)

In [ ]:
# Acessar o primeiro valor da lista
minha_lista[0]

In [ ]:
# Acessar os valores entre os índices 0 e 3, excluindo o 3
minha_lista[0:3]

In [ ]:
# Criar lista com as palavras 'um', 'dois' e os números 1.0 e 2
outra_lista = ['um', 'dois', 1.0, 2]
# Imprimir lista sem a função print() - funciona apenas em IPython
outra_lista

In [ ]:
outra_lista[1]

__Converter objetos em listas__

In [ ]:
tup

In [ ]:
list(tup)

__Métodos para Listas__

In [ ]:
# Concatenar valores a minha_lista
minha_lista.append(5)
# Imprimir minha lista
minha_lista

In [ ]:
# Concatenar uma lista à minha_lista (nested lists)
minha_lista.append([6, 7, 8, 9, 10])
minha_lista

In [ ]:
len(minha_lista)

In [ ]:
minha_lista[5]

In [ ]:
# Substituir valores em uma lista
minha_lista.insert(5, 6)
minha_lista

In [ ]:
# Remover valores da minha_lista
minha_lista.remove(6)
minha_lista

In [ ]:
# Remover índice 5 da minha_lista
minha_lista.pop(5)

In [ ]:
minha_lista

In [ ]:
# Ordenar itens em lista
minha_lista.sort()
minha_lista

In [ ]:
# Inverter ordem de itens em listas
minha_lista.reverse()
minha_lista

In [ ]:
# Testar a ocorrência de um valor em listas
5 in minha_lista

In [ ]:
# Testar a ausência de um valor
6 not in minha_lista

__Fatiamento (*Slicing*)__
O fatiamento será sempre realizado utilizando o índice da lista no formato:
```python
lista[inicio:fim:passo]
```

In [ ]:
# Declarar uma lista de valores
seq = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# Imprimir apenas os dois primeiros valores
seq[0:2]

In [ ]:
# Imprimir até o índice 5
seq[:6]

In [ ]:
# Imprimir a partir do índice 5
seq[5:]

In [ ]:
# Imprimir o último valor
seq[-1]

In [ ]:
# Imprimir valores com passos de 2
seq[::2]

In [ ]:
# Imprimir na ordem inversa
seq[::-1]

### Dicionários (dict)
Dicionários são estruturas de dados fundamentais, formadas por pares chave-valor (*key-value*), para desenvolvimento e análise de dados com Python. 

```python
dicionario = {'key1' : 'value1', 'key2' : 'value2'}
```

__Declarar dicionários__

In [ ]:
# Criar dicionário com dados de fácies e porosidade
dicionario = {'facies' : ['A', 'A', 'B'], 'porosidade' : [0.2, 0.18, 0.01]}

In [ ]:
type(dicionario)

In [ ]:
# Checar chaves (keys) do dicionário
dicionario.keys()

In [ ]:
# Valores do dicionário
dicionario.values()

In [ ]:
# Criar dicionário a partir de sequências
dict(enumerate(seq))

In [ ]:
# Criar dicionário a apartir de duas sequencias
seq1 = list(range(0, 5))
seq2 = ['A', 'B', 'A', 'B', 'C', 'D']

In [ ]:
# Concatenar listas com zip()
concat_seq = list(zip(seq1, seq2))
# Imprimir dicionário
print(concat_seq)

In [ ]:
# Transformar em dicionário
dicionario = dict(concat_seq)
# Imprimir dicionário
print(dicionario)

In [ ]:
# Acessar o valores das chaves utilizando índices
dicionario[1]

In [ ]:
a = dict(A=1, Z=-1)
b = {'A': 1, 'Z': -1}
c = dict(zip(['A', 'Z'], [1, -1]))
d = dict([('A', 1), ('Z', -1)])
e = dict({'Z': -1, 'A': 1})

In [ ]:
a == b == c == d == e

__*Hashability*__

Checar se a estrutura de dados pode ser utilizada como chave em dicionários (*hashability*). 

Apenas estruturas imutávies como números (int, float), strings ou tuples podem ser utilizadas como `dict.keys`

In [ ]:
# String podem ser utilizadas como keys
hash('string')

In [ ]:
# Tuples podem ser utilizadas como dict.keys
hash((1, 2, 3))

In [ ]:
# Listas não podem ser utilizadas como dict.keys pois são mutáveis
hash([1, 2, 3, 4])

### Conjuntos (Set)
Sets são sequências desordenadas de objetos únicos. Esta classe de objeto aceita operações matemáticas de conjuntos como união, interseção e diferença.

Dado um `set_a`

__Tabela de operações com conjuntos__

Operador | Descrição
--- | ---
 `set_a.add(x)` | Adicionar elemento `x` ao `set_a`
`set_a.remove(x)` | Remover elemento `x` do `set_a`
`set_a.union(set_b)` | Elementos presentes no `set_a` e no `set_b`
 `set_a.intersection(set_b)` | Elementos presentes em ambos `set_a` e `set_b`
 `set_a.difference(set_b)` | Elementos que não estão no `set_b`
 `set_a.symmetric_difference(set_b)` | Elementos presentes no `set_a` e no `set_b`, mas não em ambos
  `set_a.issubset(set_b)` | True se os elementos do `set_a` estão presentes no `set_b`
 `set_a.issuperset(set_b)` | True se os elementos do `set_b` estão contidos no `set_a`
  `set_a.isdisjoint(set_b)` | True se não há elementos em comum entre `set_a` e `set_b`

__Operações com *Set*__

In [ ]:
# Declarar dois sets
set_a = set([2, 2, 2, 1, 3, 3])
set_b = set([2, 2, 2, 2, 3, 4, 4, 4, 5, 6, 7, 8, 8, 8])

In [ ]:
set_a

In [ ]:
# União entre os sets
set_a.union(set_b)
# set_a.intersection(set_b)
# set_a.difference(set_b)

### Funções

Funções sequenciais são funções nativas do Python que são utilizadas para gerar valores sequenciais de forma iterativa. Estas funções são muito utilizadas pois elas automatizam processos como:
- Gerar sequências de objetos
- Enumerar sequências de objetos
- Reordenar sequências de valores
- Concatenar sequências

In [ ]:
# Intervalos de valores com range
range(0, 10)

In [ ]:
list(range(0, 10))

In [ ]:
# Declarar uma lista com range()
seq = list(range(0, 10))
# Tentar aplicar a função enumerate() diretamente na seq
enumerate(seq)

In [ ]:
list(enumerate(seq))

In [ ]:
# enumerate
for i, v in enumerate(seq):
    print(i, v)
#     break

In [ ]:
i, v

In [ ]:
# Inverter ordem de listas
list(reversed(seq))

In [ ]:
# Inverter ordem com notação de slicing
seq_inv = seq[::-1]
seq_inv

In [ ]:
# Ordenar valores
sorted(seq_inv)

In [ ]:
# Criar duas sequencias
seq1 = list(range(0, 5))
seq2 = ['A', 'B', 'A', 'B', 'C', 'D']
# Concatenar listas com zip()
list(zip(seq1, seq2))

__Exemplo:__

Um caso prático pode ser o caso de precisarmos criar uma lista com índices a partir de uma lista de valores. Nesse caso, criaremos uma lista `indices` e uma lista `valores` onde armazenaremos os objetos que serão criados com a função `enumerate()`.

In [ ]:
# Criar duas listas
indices = []
valores = []

# Iterar em objetos gerados pela função enumerate()
for i, v in enumerate(seq):
    indices.append(i)
    valores.append(v)
# Imprimir as listas
print(indices, valores)

In [ ]:
def criar_indices_de_lista(lista):
    '''
    Função para criar indices de uma lista de valores

    input: [lista]

    output: listas aninhadas [[indices], [valores]]
    '''
    # Criar duas listas
    indices = []
    valores = []

    # Iterar em objetos gerados pela função enumerate()
    for i, v in enumerate(lista):
        indices.append(i)
        valores.append(v)
    # Imprimir as listas
    return [indices, valores]

In [ ]:
criar_indices_de_lista(seq)

## Arrays
[Python arrays](https://docs.python.org/3.6/library/array.html) são semelhantes às listas, porém aceitam somente dados do mesmo tipo. Trata-se de um módulo Python utilizado para armazenar valores que sejam do mesmo tipo. Os tipos de valores são definidos no momento de criação do _Array_.

In [ ]:
arr = array('l', [1, 2, 3, 4, 5])
print(arr, type(arr))

In [ ]:
tuple_1 = (1, 2, 3, 4)
tuple_1[0] = 2

## Estruturas _Numpy_

[Numpy arrays](https://www.scipy-lectures.org/intro/numpy/array_object.html)* são arranjos 1D, 2D, 3D or nD de números interrrelacionados.

A sintaxe padrão para importar `numpy`:

```python
import numpy as np
```

Os principais aspectos da biblioteca Numpy são:
- `ndarrays` são estruturas eficientes, multimensionais e que permitem operações matemáticas vetorizadas
- Funções matemáticas para programação rápida sem a necessidade de criar *loops*
- Ferramentas para importar, ler e gravar dados em arquivos (.csv, .txt, etc.)
- Funções de álgebra linear
- Ferramentas de desenvolvimento e otimização em C, C++ e Fortran

![](https://www.oreilly.com/library/view/elegant-scipy/9781491922927/assets/elsp_0105.png)

### Arranjos *numpy* (`numpy.ndarray`)

__Tabela de funções para declarar `ndarrays`__

Operador | Descrição
--- | ---
`np.array` | Converte dados de entrada em `ndarray` estimando o tipo de dado criando cópia
`np.asarray` | Converte dados de entrada em `ndarray` estimando o tipo de dado sem criar cópia
`np.arange` | Gera sequencia de dados em formato `ndarray`
`np.ones, ones_like` | Produz `ndarray` em n dimensões compostas de valores = 1
`np.zeros, zeros_like` | Produz `ndarray` em n dimensões compostas de valores = 0
`np.full` | Produz `ndarray` em n dimensões compostas de valores constantes
`np.eye, zeros_like` | Produz matriz identidade
`np.random.random` | Produz `ndarray` em n dimensões compostas de valores aleatórios

In [ ]:
a = np.zeros ((2, 2))
print(a)

In [ ]:
print(a.shape)
print(a.dtype)
print(a.ndim)

In [ ]:
b = np.ones((1, 2))
print(b)

In [ ]:
print(b.shape)
print(b.dtype)
print(b.ndim)

In [ ]:
c = np.full((2, 2), 7)
print(c)

In [ ]:
print(c.shape)
print(c.dtype)
print(c.ndim)

In [ ]:
d = np.eye(2)
print(d)

In [ ]:
print(d.shape)
print(d.dtype)
print(d.ndim)

In [ ]:
e = np.random.random((2, 2))
print(e)

In [ ]:
print(e.shape)
print(e.dtype)
print(e.ndim)

__Indexação e fatiamento de ndarrays__

In [ ]:
# Indexação e fatiamento em arranjos 1d
arr = np.arange(10)
arr

In [ ]:
arr[3]

In [ ]:
arr[:10]

In [ ]:
arr[5:8] = 12
arr

In [ ]:
# Indexação e fatiamento em arranjos 2d
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr2d[2]

In [ ]:
arr2d[0][2]

In [ ]:
arr2d[0, 2]

In [ ]:
# Indexação e fatiamento em arranjos 3d
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d

In [ ]:
arr3d[0]

In [ ]:
arr3d[0][1]

In [ ]:
arr3d[0][1][1]

In [ ]:
arr3d[:, 0][1][:2]

__Filtro booleano__

In [ ]:
# Criar array 2d de números
a = np.array([[1,2], [3, 4], [5, 6]])
print(a)

In [ ]:
# Criar máscara de filtro booleano
bool_idx = (a > 2)
bool_idx

In [ ]:
# Filtrar números maiores que 2 com a máscara
a[bool_idx]

In [ ]:
# Filtrar utilizando números maiores ou iguais a 2
a[a >= 2]

In [ ]:
# Criar ndarray de facies
facies = np.array(['A', 'A', 'C', 'B', 'C', 'D', 'A'])
facies

In [ ]:
# Filtrar somente a fácies A
facies[(facies == 'A') | (facies == 'B')]

__Tipos de dados em arranjos__

In [ ]:
# Declarar dois ndarrays
arr1 = np.array([1, 2, 3], dtype=np.float64)
arr2 = np.array([1, 2, 3], dtype=np.int32)
# Checar os tipos de dados
print(arr1.dtype)
print(arr2.dtype)

In [ ]:
# Transformar tipos de unidades
numeric_strings = np.array(['1.25', '-9.6', '42'], dtype=np.string_)
numeric_strings.astype(float)

In [ ]:
# Transformar tipo de unidade usando atributos de outros objetos numpy
int_array = np.arange(10)
calibers = np.array([.22, .270, .357, .380, .44, .50], dtype=np.float64)
int_array.astype(calibers.dtype)

### Operações com ndarrays

In [ ]:
# Criar ndarray 2d
arr2d = np.array([[1., 2., 3.], [4., 5., 6.]])
arr2d

In [ ]:
# Somar um escalar a cada elemento
arr2d + 1

In [ ]:
# Multiplicação de cada elemento por um escalar
arr2d * 2

__Transformação de ndarrays__

In [ ]:
# Reshape
arr = np.arange(15).reshape(3, 5)
arr

In [ ]:
# Transpor um ndarray
arr.T

__Funções universais (`ufunc`)__
Estas `ufunc` são funções que agem em todos os elementos de um arranjo de números (ndarray) sem a necessidade de programar iterações. Com este recurso, é possível calcular médias, medianas, raiz quadrada, exponencial, etc. de forma rápida e simples.

__*unary unfuncs*__

In [ ]:
# Criar ndarray 1d
arr1d = np.arange(10)
arr1d

In [ ]:
# Raiz quadrada de cada elemento
np.sqrt(arr1d)

In [ ]:
# Exponencial
np.exp(arr1d)

__*binary ufuncs*__

In [ ]:
x = np.random.randn(8)
x

In [ ]:
y = np.random.randn(8)
y

In [ ]:
# Máximo entre os x e y
np.maximum(x, y)

In [ ]:
# Soma entre x e y por elemento
np.add(x, y)

__Exemplo:__

Precisamos avaliar a função $\sqrt(x^2 + y^2)$
em um grid de 1000x1000 valores.

In [ ]:
# Criar um array 1d com 1000 valores regularmente espaçados
points = np.arange(-5, 5, 0.01)
points.shape

In [ ]:
xs, ys = np.meshgrid(points, points)

In [ ]:
xs.shape

In [ ]:
z = np.sqrt(xs ** 2 + ys ** 2)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

plt.imshow(z, cmap=plt.cm.gray);
plt.colorbar();
plt.title("Imagem da equação $\sqrt{x^2 + y^2}$ para um grid de valores");

### Métodos estatísticos e de conjunto

In [ ]:
# Gerar dados com distribuição normal
arr2d = np.random.randn(5, 4)
arr2d

In [ ]:
# Média
arr2d.mean() # np.mean(arr2d)

In [ ]:
# Média em colunas
arr2d.mean(axis=1)

In [ ]:
# Soma
arr2d.sum()

In [ ]:
# Soma em linhas
arr2d.sum(0)

In [ ]:
arr2d = np.array([[0, 1, 2], [3, 4, 5], [6, 7, 8]])

In [ ]:
# Soma acumulativa
arr2d.cumsum(0)

__*Unique* e *Set*__

In [ ]:
# Criar ndarray de facies
facies = np.array(['A', 'A', 'C', 'B', 'C', 'D', 'A'])
facies

In [ ]:
# Valores únicos
np.unique(facies)

## Estruturas Pandas
[Pandas](https://pandas.pydata.org/) é uma biblioteca Python, construída sobre a estrutura do Numpy, que contém estruturas de dados de alto nível (*Series, DataFrame*) e ferramentas que facilitam a manipulação e a visualização de dados. 

Para começar a utilizar a biblioteca, a convenção utilizada é:

```python
import pandas as pd
from pandas import Series
from pandas import DataFrame
```

Características do pandas:
- Estruturas de dados com eixos rotulados
- Ferramentas para séries de tempo
- Operações matemáticas podem ser passadas por rótulos de dados
- Flexibilidade com valores ausentes
- Recursos de bases de dados relacionais (SQL)

As duas estruturas de dados principais do pandas são: *Series* e *DataFrame*, que podem ser visualizadas na figura abaixo:

![](http://venus.ifca.unican.es/Rintro/_images/dataStructuresNew.png)

### *Series*
Séries pandas (`pandas.Series`) são arranjos 1D que contêm um campo com dados e um campo com índices.

In [ ]:
s = Series([4, 7, -5, 3])
s

In [ ]:
s.values

In [ ]:
s.index

In [ ]:
# Declarar uma série com índices rotulados
s = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
s

In [ ]:
# Acessar valores com índices rotulados
s['d']

In [ ]:
# Filtrar valores
s[s > 0]

In [ ]:
# Verificar a presença de um índice
'a' in s

In [ ]:
# Declarar um dicionário
states_dict = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
# Gerar séries a partir do dicionário
states_series = Series(states_dict)
states_series

In [ ]:
states_series['Ohio'] = np.nan
states_series

In [ ]:
states_series.isnull() 
# pd.isnull(states_series)

### *DataFrame*
DataFrames (`pandas.DataFrame`) são estruturas de dados tabulares, assim como planilhas Excel (*spreadsheets*), que contêm uma ou mais colunas com índices e colunas representando campos com valores (variávies). Em DataFrames, as linhas são consideradas observações e as colunas são prorpiedades, variáveis ou feiçoes (*features*).

__Construir DataFrame__

In [ ]:
# Montar um DataFrame a partir de um dicionário
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = DataFrame(df)
df

In [ ]:
# Criar um DataFrame definindo colunas e índices
df2 = DataFrame(data,
                columns=['year', 'state', 'pop', 'debt'],
                index=['one', 'two', 'three', 'four', 'five'])
df2

In [ ]:
# Criar DataFrame com nested dict
pop = {'Nevada': {2001: 2.4, 2002: 2.9}, 
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
df3 = DataFrame(pop)
df3

__Acessar colunas e linhas__

In [ ]:
# Acessar lista de colunas
df2.columns

In [ ]:
# Notação dict-like para acessar colunas
df2['year']

In [ ]:
# Acessar linhas utilizando índice
df2.loc['five']

In [ ]:
# Inserir valores em colunas
df2['debt'] = 15.0
df2

In [ ]:
# Inserir valores em colunas
df2['debt'] = np.arange(5)
df2

In [ ]:
# Criar uma nova coluna
df2['eastern'] = df2.state == 'Ohio'
df2

In [ ]:
del df2['eastern']
df2

__Funcionalidades__

Algumas das principais funcionalidades da bilioteca pandas são:
- Reindexar
- Remover elementos
- Indexar, selecionar e filtrar
- Operações aritméticas
- Alinhamento de dados
- Aplicação de funções
- Ordenamento e ranqueamento

__Reindexar__

In [ ]:
# Criar série com índices desordenados
s = Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
s

In [ ]:
# Reindexar com valores nulos
s2 = s.reindex(['a', 'b', 'c', 'd', 'e'])
s2

In [ ]:
# Reindexar com valores constantes
s2 = s.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)
s2

In [ ]:
# Criar série com íncices ausentes
s3 = Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
s3

In [ ]:
# Reindexar série com preenchimento do tipo forward-fill
s4 = s3.reindex(range(6), method='ffill')
s4

In [ ]:
# Criar DataFrame
df = DataFrame(np.arange(9).reshape((3, 3)), 
                  index=['a', 'c', 'd'], 
                  columns=['Ohio', 'Texas', 'California'])
df

In [ ]:
states = ['Texas', 'Utah', 'California']
df.reindex(columns=states)

In [ ]:
# Alternativa para reindexar com rótulos (labels)
df.reindex(index=['a', 'b', 'c', 'd'], columns=states)

__Remover elementos__

In [ ]:
s = Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
s

In [ ]:
# Remover valores por rótulos de índices
s.drop('c')
# s.drop(['a', 'c'])

In [ ]:
df = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
df

In [ ]:
# Remover linhas por rótulo de índice
df.drop(['Colorado', 'Ohio'])
# data.drop('two', axis=1)
# data.drop(['two', 'four'], axis='columns')

__Indexar, selecionar e filtrar__

Estas operações são semelhantes às que vimos no Numpy, porém com pandas é possível fazer tudo utilizando os valores dos índices ao invés de usar números inteiros. Essa característica torna a manipulação de dados muito mais intuitiva para geocientistas, pois tratamos os campos de planilhas como propriedades físicas de rochas e nomenclaturas.

In [ ]:
s = Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
s

In [ ]:
# Selecionar valores por rótulo de índice
s['b']
# s[['b', 'a', 'd']]
# s.loc[['a', 'd']]

In [ ]:
# Fatiamento com rótulos de índices é diferente do padrão Python!
s['b':'c']
# s['b':'c'] = 5

In [ ]:
# Selecionar valores por índices inteiros
s[1]
# s[-1]
# s[[1, 3]]
# s.iloc[:2]

In [ ]:
# Fatiamento por filtro booleano
s[s > 2]

In [ ]:
df = pd.DataFrame(np.arange(16).reshape((4, 4)),
                  index=['Ohio', 'Colorado', 'Utah', 'New York'],
                  columns=['one', 'two', 'three', 'four'])
df

In [ ]:
# Selecionar colunas por rótulos
df['two']
df[['three', 'one']]

In [ ]:
# Selecionar linhas por números inteiros
df[2:3]
# df[:3]

In [ ]:
# Filtrar com máscara booleana
df > 5
# df[df['three'] > 5]

In [ ]:
df.loc[:'Utah', 'two']
# df.loc['Utah', ['two', 'three']]

In [ ]:
# Selecionar por números inteiros
df.iloc[2]
# data.iloc[[1], [1, 2]]
# data.iloc[[1, 2], [3, 0, 1]]
# data.iloc[:, :3][data.three > 5]

__Tabela de indexação de *DataFrame*__

Sumário de comandos para indexação, considerando um *DataFrame*  **`df`**

Sintaxe | Descrição
--- | ---
`df[val]` | Selecionar uma ou mais colunas em um DataFrame por rótulos de colunas
`df.loc[val]` | Selecionar linhas em um DataFrame por rótulos de índices
`df.loc[:, val]` | Selecionar uma ou mais colunas por rótulos de colunas
`df.loc[val1, val2]` | Selecionar colunas ou linhas por rótulos respectivos
`df.iloc[where]` | Selecionar linhas por números inteiros
`df.iloc[:, where]` | Selecionar colunas por números inteiros
`df.iloc[where_i, where_j]` | Selecionar colunas por números inteiros
`df.at[label_i, label_j]` | Selecionar linhas e colunas por rótulos
`df.iat[i, j]` | Selecionar um valor escalar no df  por números inteiros
`df.iloc[:, where]` | Selecionar colunas por números inteiros
`get_value, set_value` | Selecionar valor escalar por rótulos de linha e coluna

__Operações matemáticas__

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s1

In [ ]:
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])
s2

In [ ]:
# Adicionar valores respeitando os rótulos dos índices
s1 + s2

In [ ]:
df1 = DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
df1

In [ ]:
df2 = DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))
df2

In [ ]:
df1 + df2

In [ ]:
df1.add(df2, fill_value=0)

__*Broadcasting*__

Operações entre arranjos com dimenssões diferentes são resolvidas por *Broadcasting* no pandas.

![Broadcast](https://i.stack.imgur.com/JcKv1.png)

In [ ]:
# Array 2D
s = np.arange(12.).reshape((3, 4))
arr

In [ ]:
# Array 1D
s[0]

In [ ]:
# Subtrair por broadcasting
s - s[0]

__Aplicação de funções e mapeamento__

As funções universais Numpy (`ufunc`) funcionam também com objetos pandas e podem ser aplicadas em linhas ou em colunas.

In [ ]:
df = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
df

In [ ]:
np.abs(df)

In [ ]:
# Aplicar função lambda em colunas
f = lambda x: x.max() - x.min()

In [ ]:
# Aplicar função em linhas ou colunas para gerar escalar
# frame.apply(f)
df.apply(f, axis='columns')

In [ ]:
def f(x):
    '''
    Helper function para gerar pd.Series com sumário estatístico
    
    input: DataFrame name
    
    output: Series com min e max
    '''    
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

In [ ]:
# Aplicar função f(x) para gerar Series com sumários estatísticos
# frame.apply(f)
df.apply(f, axis='columns')

In [ ]:
# Função lambda para formatar a precisão de números float
format = lambda x: '%.2f' % x

In [ ]:
# Aplicar a função lambda em todos os elementos do DataFrame
df.applymap(format)

In [ ]:
# Aplicar a função lambda nas linhas do DataFrame
df['e'].map(format)

__Ordenamento de objetos__

In [ ]:
s = pd.Series(range(4), index=['d', 'a', 'b', 'c'])

In [ ]:
# Ordenar Series por rótulo do índice
s.sort_index()

In [ ]:
df = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=['three', 'one'],
                     columns=['d', 'a', 'b', 'c'])
df

In [ ]:
# Ordenar DataFrame por linhas ou colunas
df.sort_index()
# df.sort_index(axis=1)
# df.sort_index(axis=1, ascending=False)

In [ ]:
s = pd.Series([4, np.nan, 7, np.nan, -3, 2])
s

In [ ]:
# Ordenamento de Series com valores nulos
s.sort_values()

__Estatística descritiva__

Objetos pandas contêm uma gama de métodos (funções) matemáticos e estatísticos que fornecem sumários estatísticos de forma rápida e direta sem a necessidade de construir iterações nos elementos de Series e DataFrame.

__Tabela de métodos de estatística descritiva__

Comandos mais utilizados para geração de sumários estatísticos.

Sintaxe | Descrição
--- | ---
`count` | Número de valores não nulos
`describe` | Sumário estatístico de colunas com valores numéricos
`min, max` | Valores mínimo e máximo
`argmax, argmin` | Índices inteiros da localização de valores máximo e mínimo
`idxmax, idxmin` | Rótulos dos índices de valores máximo e mínimo
`sum` | Soma de valores
`cumsum` | Soma acumulativa de valores
`mean` | Média de valores
`median` | Mediana de valores

__Métodos de redução__

In [ ]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], 
                  index=['a', 'b', 'c', 'd'], 
                  columns=['one', 'two'])
df

In [ ]:
df.sum()
# df.sum(axis='columns')
# df.mean(axis='columns', skipna=False)
# df.idxmax()
# df.cumsum()
# df.describe()

__Frequências de valores únicos__

In [ ]:
s = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
s

In [ ]:
# s.unique()
# s.value_counts()
pd.value_counts(s.values, sort=False)

## Estruturas GeoPandas
GeoPandas é uma biblioteca que utiliza recursos de manipulação para dados tabulares, como Pandas e para dados georreferenciados, como Shapely e Fiona, facilitando a análise de *shapefiles*.

### GeoSeries
Objetos `geopandas.GeoSeries` são coleções de shapes, que podem ser dos tipos:

- Points / Multi-Points
- Lines / Multi-Lines
- Polygons / Multi-Polygons

Cada registro em um objeto `GeoSeries` pode conter um ou mais *shapes*.

__Exemplo:__

Criar um objeto `GeoSeries` a partir de um dicionário Python, com o índice dos pontos `'name'` e as coodenadas `'lat', 'lon'`, e investigar seus atributos.

In [ ]:
# Criar dicionário de dados
data = {'name': ['a', 'b', 'c'],
        'lat': [45, 46, 47.5],
        'lon': [-120, -121.2, -122.9]}
# data

In [ ]:
# Criar lista concatenada de valores de coordenadas
geometry = [Point(xy) for xy in zip(data['lon'], data['lat'])]
# geometry

In [ ]:
# Criar GeoSeries a partir de lista com geometrias
data_geo = GeoSeries(geometry, index=data['name'])
# data_geo

In [ ]:
# Acessar atributos
# data_geo.geometry
# data_geo.geom_type
# data_geo.bounds
# data_geo.total_bounds

### GeoDataFrame
Objetos do tipo `GeoDataFrame`, têm estrutura tabular, como um Pandas DataFrame, e contem um atributo do tipo `GeoSeries` denominado `geometry` com geometrias e coordenadas.

__Exemplo:__

In [ ]:
df = DataFrame(data)
df

In [ ]:
# Criar geometria
# geometry = [Point(xy) for xy in zip(df['lon'], df['lat'])]
df['Coordinates'] = list(zip(df.lat, df.lon))
df

In [ ]:
df['Coordinates'] = df['Coordinates'].apply(Point)
df

In [ ]:
# Criar GeoDataFrame
gdf = GeoDataFrame(df, geometry='Coordinates')
gdf

In [ ]:
gdf.plot(marker='*', color='green', markersize=50, figsize=(3, 3));

__Referências__

- [Python Data Structures Tutorial (DataCamp)](https://www.datacamp.com/community/tutorials/data-structures-python#list)
- [Python Numpy Tutorial (Stanford CS231n)](https://cs231n.github.io/python-numpy-tutorial/#numpy)
- [Intro to Pandas Data Structures (Pandas Doc)](https://pandas.pydata.org/pandas-docs/stable/dsintro.html)
- [Kaggle's Pandas Tutorial](https://www.kaggle.com/learn/pandas)
- [GeoPandas](https://geopandas.readthedocs.io/en/latest/gallery/create_geopandas_from_pandas.html#sphx-glr-gallery-create-geopandas-from-pandas-py)